@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
div p {
    color: blue;
}
div > p { 
  color: red;  
}
div + p {
    color: blue;
}
div ~ p {
    color: blueviolet;
}
div #one{
    color: aqua;
}
div #two{
    color: rgb(rgb(192, 67, 67), rgb(81, 170, 81), rgb(86, 86, 139));
}
div #three{
    color: #444;
}
div #four{
    color:hsl(300, 50%, 50%);
}
div #five{
    color: rgba(rgb(155, 56, 56), rgb(130, 192, 130), rgb(115, 115, 182), 0.25);
}
div #six{
    color: hsla(250, 50%, 50%, 0.50);
}
div #seven {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
     font-weight:700 ;
     font-size: medium;
     font-variant: small-caps;
     color: blueviolet;
}
div #eight{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
     font-weight:700 ;
     font-size: medium;
     font-variant: small-caps;
     color: blueviolet;
}
div #nine{

    font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
    font-size: 35px;
     font-variant: small-caps;
     color: blueviolet;
}
 
 div #ten{
    text-align: justify;
    text-align-last:right;
    direction: ltr;
}
div{
    font-size: 20px;
}
.inner{
    font-size: 2rem;
}
.outer{
    font-size: 2em;
}
h2{
    font-size: 20vmax;
}
button{
    background: goldenrod;
    color: antiquewhite;
    padding: 20px 30px 20px 30px;
    margin: 50px;
    border-color: brown;
    border-style: double;
    border-width: 5px;
    border-radius: 20px;

    border-color: aqua blue brown blueviolet;
    
} 
.size border{
     background: goldenrod;
    color: antiquewhite;
    padding: 20px;
    margin: 50px;
}

.high{
    height: 150vh;
    width: 500px;
    background-color: green;
     /* position:relative;
    top: 40px;
    left: 30px;
    padding: 10px; */
} 
.sub{
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    right: 10px;
}
.fixed{
     height: 50px;
     width: 50px;
     background-color: green;
     border-radius: 50%;
     position: fixed;
     bottom: 0px;
     right: 0px;
     margin: 30px; 
}
 .main2{
    height: 150vh;
     width: 500px;
     background-color:red;
}
.sub2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: sticky;
    top: 10px;
} 
.main3{
    height: 100px;
    width: 100px;
    background-color: bisque;
    /* overflow: scroll; */
    overflow: hidden;
}
.main4{
    height: 500px;
    width: 500px;
    background-color: rgba(255, 0, 0, 0.459);

}
.sub1{
    height: 100px;
    width: 100px;
    background-color: blue;
    position:relative ;
    z-index: 1;
}

        
